.track{
    color:var(--white); 
    -webkit-text-stroke-width: 2px;  
    -webkit-text-stroke-color: var(--black);
 }
.track:hover{
    color:var(--blue);
    -webkit-text-stroke-width: 1.2px;  
    -webkit-text-stroke-color: var(--white);
    transition-duration: all 0.5s ease-in-out;
}

.self{
    color: var(--white);
    -webkit-text-stroke-width: 2px;   
    -webkit-text-stroke-color: var(--blue);
}

.self:hover{
    color:var(--black);
    -webkit-text-stroke-width: 1.2px;  
    -webkit-text-stroke-color: var(--);
    transition-duration: all 0.5s ease-in-out;
}   


.phone-cont {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.iphone{
    position: relative;
    width: 350px;
    /* image is overlapping on navbar==========>> fix it*/
    width: 40%;
    min-width: 300px;
    width: 40%;
    max-width: 600px;
    margin: 0% 0% 100% 20%;
    margin-top: -50%;
    right: 0;
    left: 100%;
    z-index: 0;
  }

.gradient{
    position: absolute;
    width: 40%;
    min-width: 300px;
    width: 40%;
    max-width: 600px;
    margin: 90% 0% 100% 20%;
    right: 0;
    left: 100%;
    z-index: 0;
   
  }



@media only screen and (max-width: 1250px) {

    .iphone {
        width: 50%;
       min-width: 250px;
    }
    .gradient {
       min-width: 250px;
       top: 6rem;
    }
}